<ion-list class="list-padding list " lines="none">
    <ion-list-header class="ion-no-padding">
        {{title}}
    </ion-list-header>
    <ion-item class="ion-no-padding pl-10" (click)="onItemClick(item)" *ngFor="let item of todoList" [class.task-done] = "item.checked">
        <ion-note slot="start" (click)="$event.stopPropagation()">
            <div class="task-check-line" *ngIf="item.checked" (click)="onItemClick(item)"></div>
            <ion-checkbox style="margin-left: 10px;" [checked]="item.checked" [(ngModel)]="item.checked"
                (ngModelChange)="onCheckboxChange(item)">
            </ion-checkbox>
        </ion-note>
        <ion-label>
            {{item.title}}
        </ion-label>
        <ion-note slot="end" color="danger" *ngIf="TodoStateEnum.Valid === item.state">
            <span *ngIf="item.checked " (click)="onItemArchive(item);$event.stopPropagation()">
                <ion-icon name="archive-outline"></ion-icon>
            </span>
            <span *ngIf="!item.checked ">99</span>

        </ion-note>
    </ion-item>
</ion-list>