.ion-slide-height {
    min-height: 100vh;
}

.add-todo-wrapper {
    width: 100%;
    padding: 15px 35px 15px 15px;
}

.filter-header {
    background-color: #5a95ff;

    ion-icon {
        font-size: 2em;
        color: white;
    }
}
