<ion-content [fullscreen]="true">
  <section class="list-padding">
    <ion-icon name="calendar-outline"  style="font-size: 2em"></ion-icon>
    <ion-icon name="checkmark-circle-outline" style="font-size: 2em; margin-left: 15px;"></ion-icon>
    <ion-icon name="ellipse-outline" style="font-size: 2em;  margin-left: 15px;"></ion-icon>
    <ion-icon name="pricetags-outline" style="font-size: 2em;  margin-left: 15px;"></ion-icon>
    <ion-icon name="refresh-outline" style="font-size: 2em; float: right;"></ion-icon>
  </section>
  <section>
    <app-todo-list></app-todo-list>
  </section>
</ion-content>